<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>IMONGODB</title>
    <link rel="stylesheet" href="../css/movies.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>

    <h1>Movies</h1>
    <h2>Oh yeah, MongoDB time!</h2>

<form class="" action="/movies" method="POST">
  Title: <input type="text" name="name" value="">
  <br>
  Year: <input type="text" name="name" value="">
  <br>
  IMDB: <input type="text" name="name" value="">
  <input type="submit" name="name" value="Submit">
</form>



  </body>
</html>
